.env
/agents/python_watsonx_agent/.venv
/mcp-watsonx-tutorial/.venv
/backup
/mcp-watsonx-tutorial/mcpgateway
 * copy.*
*/* copy.*
/tmp
/agents/watsonx-agent/.venv
/agents/watsonx-agent/__pycache__
/agents/hello_world/.venv
/docs/backup
/agents/hello_world/__pycache__
/agents/example/__pycache__
/agents/example/backup
copy *
* copy *
* copy.*
*.db
/frontend/__pycache__
